<html>
    <head>

        <style>
  #count_up_timer{
	font-size: 100px;
	font-weight: bold;
	color: darkblue;
}
#stop_count_up_timer{
	background-color:black;
	color:white
}
        </style>
    </head>
    <body>
        <div id="count_up_timer">00:00:00</div>
        <button id="stop_count_up_timer" onclick="clearInterval(timerVariable)">Stop Time</button>
        
        <script>
  var timerVariable = setInterval(countUpTimer, 1000);
var totalSeconds = 0;

function countUpTimer() {
  ++totalSeconds;
  var hour = Math.floor(totalSeconds / 3600);
  var minute = Math.floor((totalSeconds - hour * 3600) / 60);
  var seconds = totalSeconds - (hour * 3600 + minute * 60);
  document.getElementById('count_up_timer').innerHTML =
      hour + ':' + minute + ':' + seconds;
}
        </script>
    </body>
</html>
