{% extends 'ugs_app/base.html' %}
{% load static %}
{% block body%}
<!-- /////////////////// -->
<div class="dashboard-area">
    <div class="container-fluid">
        <div class="row g-4">
            <div class="col-4">
                <div class="card">
                    <div class="card-body card-breadcrumb">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">STAKING WALLET</h4>
                            <div class="page-title-right">
                                <h4 style="font-weight: 700;">{% load humanize %} {{ user.userwallet.w_balance|floatformat:"2"|intcomma }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body card-breadcrumb">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">STAKING INCOME </h4>
                            <div class="page-title-right">
                                <h4 style="font-weight: 700;">{% load humanize %} {{ user.userwallet.w_balance|floatformat:"2"|intcomma }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body card-breadcrumb">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <!-- <h4 class="mb-0">STAKING SLOT</h4> -->
                            <div class="page-title-right">
                              Note: All Stake Slot 7days preparing for start-up and 90 days lock-up
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- ///////////////////////// -->
             <!-- Single Product -->
            <div class="col-sm-6 col-lg-3 stake_btn" id="ALARM CLOCK" rate="8%">
                <div class="card">
                    <div class="card-body p-lg-4">
                        <!-- Single Card -->
                        <div class="single-product-card text-center">
                            <div class="single-product-img">
                                <img src="{% static 'ugs_app/img/shop-img/image.png' %}" alt="">
                                <a class="pro-choice" href="#">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="single-product-meta ">
                                <form>
                                    <!-- Product title -->
                                    <h1 class="mt-0 font-30">SAND CLOCK</h1>
                                    <p class="text-success  fw-bolder" style="font-size: 40px;text-shadow: 1px 1px #f8f4f4;"> 8%</p>
                                    <!-- Product description -->
                                     <div class="div" style="font-size: 30px;font-weight: bolder;">
                                        <span class="text-warning">&#8369; 500 / </span><span class="text-white">Slot</span>
                                     </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 stake_btn" id="WALL CLOCK" rate="10">
                <div class="card">
                    <div class="card-body p-lg-4">
                        <!-- Single Card -->
                        <div class="single-product-card text-center">
                            <div class="single-product-img">
                                <img src="{% static 'ugs_app/img/shop-img/2.png'%}" alt="">
                                <a class="pro-choice" href="#">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="single-product-meta ">
                                <form>
                                    <!-- Product title -->
                                    <h1 class="mt-0 font-30">REGULAR CLOCK</h1>
                                    <p class="text-success  fw-bolder" style="font-size: 40px;text-shadow: 1px 1px #f8f4f4;"> 10%</p>
                                    <!-- Product description -->
                                     <div class="div" style="font-size: 30px;font-weight: bolder;">
                                        <span class="text-warning">&#8369; 1,000 / </span><span class="text-white">Slot</span>
                                     </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-sm-6 col-lg-3 stake_btn" id="MODERN CLOCK" rate="15">
                <div class="card">
                    <div class="card-body p-lg-4">
                        <!-- Single Card -->
                        <div class="single-product-card text-center">
                            <div class="single-product-img">
                                <img src="{% static 'ugs_app/img/shop-img/3.png'%}" alt="">
                                <a class="pro-choice" href="#">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="single-product-meta ">
                                <form>
                                    <!-- Product title -->
                                    <h1 class="mt-0 font-30">MODERN CLOCK</h1>
                                    <p class="text-success  fw-bolder" style="font-size: 40px;text-shadow: 1px 1px #f8f4f4;"> 15%</p>
                                    <!-- Product description -->
                                     <div class="div" style="font-size: 30px;font-weight: bolder;">
                                        <span class="text-warning">&#8369; 2,000 / </span><span class="text-white">Slot</span>
                                     </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-sm-6 col-lg-3 stake_btn" id="TECHNO CLOCK" rate="20">
                <div class="card">
                    <div class="card-body p-lg-4">
                        <!-- Single Card -->
                        <div class="single-product-card text-center">
                            <div class="single-product-img">
                                <img src="{% static 'ugs_app/img/shop-img/4.png'%}" alt="">
                                <a class="pro-choice" href="#">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="single-product-meta">
                                <form>
                                    <!-- Product title -->
                                    <h1 class="mt-0 font-30">TECHNO CLOCK</h1>
                                    <p class="text-success  fw-bolder" style="font-size: 40px;text-shadow: 1px 1px #f8f4f4;"> 20%</p>
                                    <!-- Product description -->
                                     <div class="div" style="font-size: 30px;font-weight: bolder;">
                                        <span class="text-warning">&#8369; 5,000 / </span><span class="text-white">Slot</span>
                                     </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-sm-6 col-lg-3 stake_btn" id="ROLEX CLOCK" rate="25">
                <div class="card">
                    <div class="card-body p-lg-4">
                        <!-- Single Card -->
                        <div class="single-product-card text-center">
                            <div class="single-product-img">
                                <img src="{% static 'ugs_app/img/shop-img/5.png'%}" alt="">
                                <a class="pro-choice" href="#">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="single-product-meta">
                                <form>
                                    <!-- Product title -->
                                    <h1 class="mt-0 font-30">ROLEX CLOCK</h1>
                                    <p class="text-success  fw-bolder" style="font-size: 40px;text-shadow: 1px 1px #f8f4f4;"> 25%</p>
                                    <!-- Product description -->
                                     <div class="div" style="font-size: 30px;font-weight: bolder;">
                                        <span class="text-warning">&#8369; 10,000 / </span><span class="text-white">Slot</span>
                                     </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- ///////////////////////// -->
        </div>
    </div>
</div>

<!-- //////////////// -->
{% endblock %}