{% extends '../base.html' %}

{% block body %}

<div class="data-table-area">
    <div class="container-fluid">
        <div class="row g-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body card-breadcrumb">
                        <div
                            class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 text-warning"><i class="pe-7s-joy"></i>&nbsp; Games</h4>
                            <div class="page-title-right">
                                <button type="button" class="btn btn-outline-warning mb-2 me-2" data-bs-toggle="modal"
                                data-bs-target="#addgames"> <i class="fa fa-optin-monster"></i> Add Games</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                    
                        <table id="selection-datatable" class="table dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>


                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</div>



{% endblock %}